<!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><%= title %></title>

<meta name="keywords" content="comma, separated, keywords">
<meta name="description" content="Description of this page">
<meta name="author" content="Marco Pavan - marcopavan.mp@gmail.com">

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="stylesheets/base.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="stylesheets/DateTimePicker.css">
<link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.default.css">

<link href="stylesheets/custom.min.css" rel="stylesheet" type="text/css">





<!-- Favicons-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="images/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">