<section class="promo_full">
  <div class="promo_full_wp">
    <div>
      <h3>What Clients say<span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure><img src="images/testimonial_1.jpg" alt="" class="img-circle"></figure>
                    <h4>Roberta<small>12 October 2015</small></h4>
                  </div>
                  <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                  </div>
                </div>
                <!-- End box_overlay -->
              </div>
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure><img src="images/testimonial_1.jpg" alt="" class="img-circle"></figure>
                    <h4>Roberta<small>12 October 2015</small></h4>
                  </div>
                  <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                  </div>
                </div>
                <!-- End box_overlay -->
              </div>
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure><img src="images/testimonial_1.jpg" alt="" class="img-circle"></figure>
                    <h4>Roberta<small>12 October 2015</small></h4>
                  </div>
                  <div class="comment">
                    "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                  </div>
                </div>
                <!-- End box_overlay -->
              </div>
            </div>
            <!-- End carousel_testimonials -->
          </div>
          <!-- End col-md-8 -->
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </div>
    <!-- End promo_full_wp -->
  </div>
  <!-- End promo_full -->
</section>
<!-- End section -->