<!DOCTYPE html>
<html lang="en">
  <head>
		<% include shared/header %>
	</head>
	
  <body>
		<% include shared/page-header %>
    
		<div class="layer"></div>
		<!-- Mobile menu overlay mask -->
		<div id="preloader">
			<div data-loader="circle-side"></div>
		</div>
		<!-- End Preload -->

		<% include shared/page-header %>

		<% include shared/page-subheader %>

		<% include shared/page-content_1 %>

		<% include shared/page-content_2 %>

		<% include shared/page-content_3 %>

		<% include shared/page-content_4 %>

		<% include shared/page-promo %>
		
		<div id="dtBox"></div>
		
		<% include shared/page-footer %>
		
		<div id="toTop"></div>

		<% include shared/js-include %>
		
	</body>
	
</html>
