<!DOCTYPE html>
<html lang="en">
  <head>
		<% include shared/header %>
  </head>
  <body>
		<% include shared/page-header %>
    
		<div class="container-fluid">
			<header class="page-header">
				<h2><%= title %></h2>
			</header>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6"></div>
			</div>
			<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4"></div>
					<div class="col-sm-4"></div>
				</div>
		</div>
	
		<% include shared/page-footer %>

		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
